# This is the configuration file for explore stage with LAMMPS.
# The configuration contains 2 parts: executor context and workflow params.

executors:
  # This should correspond to the executor name in executor.yml
  hpc-cluster01:
    context:
        lammps:
          # The template used to generate submit script.
          script_template:
            # Specify the header of the submit script,
            # Should be configured according to your system.
            header: |
              #SBATCH -N 1
              #SBATCH --ntasks-per-node=4
              #SBATCH --job-name=lammps
              #SBATCH --partition=gpu

            # Specify the setup commands of the submit script,
            # Should be configured according to your system.
            setup: |
              set -e
              module load deepmd/2.2
              export OMP_NUM_THREADS=1
              set +e

          # Optional, specify the command to run LAMMPS, default: lmp.
          lammps_cmd:

          # Optional, specify the number of concurrent tasks, default: 0 (no limit)
          concurrency:

workflow:
  explore:
    lammps:
      # Specific timestep of the simulation.
      timestep: 0.0005

      # Specific sample frequency.
      sample_freq: 100

      # Specific the number of steps to run.
      nsteps: 2000

      # Specific ensemble.
      ensemble: nvt

      # The system files to explore.
      # The value should correspond to the artifact name in artifact.yml
      system_files: [ h2o-64-explore ]

      template_vars:
        POST_INIT: |
          neighbor 1.0 bin
          box      tilt large

        POST_READ_DATA: |
          change_box all triclinic

      # Specify the variants to explore.
      # Variants defined here will be used in full combination or n-wise combination.
      # Those value will be mapped to the variables in the LAMMPS input file.
      # The key should be upper case.
      # TEMP, PRES are required, the others are optional.
      # You can also specify custom variables here.
      explore_vars:
        TEMP: [ 330, 430, 530]
        PRES: [1]
        TAU_T: 0.1  # Optional
        TAU_P: 0.5  # Optional

      # Optional, same as explore_vars,
      # but the values will be broadcasted to all combinations.
      # Use this wisely when you have too many variants to explore to avoid combinatorial explosion.
      broadcast_vars:
        LAMBDA_f: [ 0.0, 0.25, 0.5, 0.75, 1.0]
        EFIELD:
          - [0, 0, 1]
          - [0, 1, 0]
          - [1, 0, 0]
